bkp_nodeRed_Job_Trade-BTC.txt
[{"id":"2aa66ff4.68b22","type":"tab","label":"Trade-BTC","disabled":false,"info":""},{"id":"bcbcc18d.54c12","type":"function","z":"2aa66ff4.68b22","name":"headers","func":"//headers\nmsg.headers = {};\nmsg.headers['X-MBX-APIKEY'] = msg.apikey;\nmsg.payload = msg.topic + '&signature=' + msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":60,"wires":[["6208563b.7303c8"]]},{"id":"c3de2e21.3f0e5","type":"hmac","z":"2aa66ff4.68b22","name":"secretkey","algorithm":"HmacSHA256","key":"Xn1Z8UhXvXfPT6jH2zjnbAOgWmUeEnDLzorD4ST1Vj9Z7Nnccapc0T82Fl0bdclk","x":540,"y":60,"wires":[["bcbcc18d.54c12"]]},{"id":"6208563b.7303c8","type":"http request","z":"2aa66ff4.68b22","name":"order","method":"POST","ret":"obj","url":"https://api.binance.com/api/v3/order?","tls":"","x":770,"y":60,"wires":[["2c8089af.6995c6"]]},{"id":"3167a18f.b7623e","type":"comment","z":"2aa66ff4.68b22","name":"Trade-SELL&BUY","info":"","x":90,"y":20,"wires":[]},{"id":"2c8089af.6995c6","type":"debug","z":"2aa66ff4.68b22","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":890,"y":60,"wires":[]},{"id":"eb759f73.6c10a","type":"function","z":"2aa66ff4.68b22","name":"parameter_trade","func":"price = msg.topic[0].lastprice;\nprice_buy = msg.topic[0].Price_BUY;\nprice_sell = msg.topic[0].Price_SELL;\nquantity_buy = msg.topic[0].Quantity_BUY;\nquantity_sell = msg.topic[0].Quantity_SELL;\ntimestamp = msg.payload;\naddr = 'symbol='+msg.topic[0].symbol;\n\nif(price <= price_buy)\n{\n    addr = addr + '&side=BUY';      //SELL or BUY\n    addr = addr + '&type=MARKET';   //MARKET or LIMIT\n    addr = addr + '&quantity='+quantity_buy;\n    addr = addr + '&timestamp=' + timestamp;\n    msg.payload = addr;\n    msg.topic = addr;\n}\nelse{\n    if(price >= price_sell)\n    {\n        addr = addr + '&side=SELL';     //SELL or BUY\n        addr = addr + '&type=MARKET';   //MARKET or LIMIT\n        addr = addr + '&quantity='+quantity_sell;\n        addr = addr + '&timestamp=' + timestamp;\n        msg.payload = addr;\n        msg.topic = addr;\n    }\n    else\n    {\n        msg.payload = 'Do nothing to sell';\n    }\n}\n\nmsg.apikey = 'JC12iZufNc6RoZDbqmwsYpKw3pm4zcq2SxsFX9FeoZlPWRZuuWanZSZjltFyALg6';\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":60,"wires":[["c3de2e21.3f0e5","6f977a98.822744"]]},{"id":"e4c313e4.4170d","type":"inject","z":"2aa66ff4.68b22","name":"","topic":"time","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":60,"wires":[["be6a353a.e17ed8"]]},{"id":"be6a353a.e17ed8","type":"MSSQL","z":"2aa66ff4.68b22","mssqlCN":"fbdb5888.f11f88","name":"tsql","query":"select\n    [symbol]\n    ,cast([lastPrice] as float) as lastprice \n    ,Price_BUY\n    ,Price_SELL\n    ,Quantity_BUY\n    ,Quantity_SELL\n    --,[TIMESTAMP] as tempo\nfrom [BTC].[PRD].[Trade]('ONGUSDT')\n","outField":"topic","x":250,"y":60,"wires":[["eb759f73.6c10a"]]},{"id":"6f977a98.822744","type":"debug","z":"2aa66ff4.68b22","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":140,"wires":[]},{"id":"fbdb5888.f11f88","type":"MSSQL-CN","z":"","name":"connect_db","server":"localhost","encyption":false,"database":"BTC"}]